/* ===================================
JavaScript Curriculum Common ResetCSS
=================================== */

body {
  font-family: var(--font-family);
  line-height: 1.7;
  color: var(--color-gray-4);
  background-color: var(--color-gray-30);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0;
  border: none;
}

ul,
li {
  list-style: none;
}
