/* ===================================
JavaScript lesson2 StyleCSS
=================================== */
.js-cancelBtn-stepThird:disabled {
  background: var(--color-gray-8);
  color: var(--color-gray-5);
  cursor: not-allowed;
  opacity: 0.6;
}

.js-cancelBtn-stepThird:disabled:hover {
  opacity: 0.6;
}

.is-hidden {
  display: none;
}

[data-role="member"].is-active {
  color: var(--color-primary);
}
